@use 'sass:map';
/**
  * Colors and Shades
  */
$transparent-white-24: rgba(255, 255, 255, 0.24);
$transparent-white-32: rgba(255, 255, 255, 0.32);
$transparent-white-45: rgba(255, 255, 255, 0.45);
$transparent-white-60: rgba(255, 255, 255, 0.6);
$transparent-white-80: rgba(255, 255, 255, 0.8);
$transparent-black-24: rgba(0, 0, 0, 0.24);
$transparent-black-45: rgba(0, 0, 0, 0.45);

$color-map: (
  'blue': (
    'light': #3d99ce,
    'normal': #0079bf,
    'dark': #004269
  ),
  'orange': (
    'light': #ddab65,
    'normal': #d29034,
    'dark': #734f1d
  ),
  'green': (
    'light': #7bb168,
    'normal': #519839,
    'dark': #2c531f
  ),
  'red': (
    'light': #c37263,
    'normal': #b04632,
    'dark': #61261b
  ),
  'purple': (
    'light': #a586b5,
    'normal': #89609e,
    'dark': #4b3557
  ),
  'pink': (
    'light': #d981ab,
    'normal': #cd5a91,
    'dark': #713150
  ),
  'mint': (
    'light': #76ce8e,
    'normal': #4bbf6b,
    'dark': #29693b
  ),
  'sky': (
    'light': #3dc1d8,
    'normal': #00aecc,
    'dark': #006070
  ),
  'gray': (
    'light': #a1a8ab,
    'normal': #838c91,
    'dark': #484d50
  ),
  'img': (
    'light': transparent,
    'normal': $transparent-black-24,
    'dark': $transparent-black-45
  )
);

/** 
  * background and text colors
  */
@each $name, $color in $color-map {
  $light: map-get($color, light);
  $normal: map-get($color, normal);
  $dark: map-get($color, dark);
  .bg-light-#{$name} {
    background-color: $light;
    border-color: $light;
  }
  .bg-#{$name},
  .bg-light-#{$name}-hover:hover,
  .bg-light-#{$name}-hover:focus {
    background-color: $normal;
    border-color: $normal;
  }
  .bg-dark-#{$name},
  .bg-#{$name}-hover:hover,
  .bg-#{$name}-hover:focus {
    background-color: $dark;
    border-color: $dark;
  }

  .text-#{$name} {
    color: $normal;
  }
}

.bg-trans {
  background-color: $transparent-white-24;
}

.bg-trans-dark {
  background-color: $transparent-black-45;
}

.bg-trans-hover:hover {
  background-color: $transparent-white-32;
}

.bg-trans-dark-hover:hover {
  background-color: $transparent-black-24;
}

.text-trans {
  color: $transparent-white-60;
}

.text-trans-hover:hover {
  color: $transparent-white-80;
}
