.color_picker {
  width: 40px;
  height: 32px;
}
.color_picker_img {
  width: 64px;
  height: 40px;
  position: relative;
}

.title_input {
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  box-shadow: inset 0 0 0 2px #eb5a46;
  width: 100%;

  &:focus {
    box-shadow: inset 0 0 0 2px #0079bf;
  }
}
