$list-width: 19.429rem;

.board {
  height: 100vh;
  width: 100vw;

  &_list {
    background-color: #e1e3e6;
    width: $list-width;

    &_add {
      width: $list-width;
    }
  }

  &_textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    font-size: 26px;
    font-weight: 600;
    min-height: 2rem !important;
    max-height: 2.25rem !important;
  }
}
